
  .cover-image {
    background-image: url(../media/cover-events.jpg);
  }
.cover-item {
    position: relative;
    z-index: 0;
  }

  
  .cover-item::before {
    position: absolute;
    content: "";
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.8+100 */
    background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cc000000',GradientType=0 );
    /* IE6-9 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .section_title h3 {
    font-size: 80px;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 0;
    padding-bottom: 7px;
  }
  @media (max-width: 767px) {
    .section_title h3 {
      font-size: 30px;
      line-height: 36px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 {
      font-size: 36px;
      line-height: 42px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .section_title h3 {
      font-size: 35px;
      line-height: 42px;
    }
  }

.program_details_area {
    background-size: cover;
    background-position: bottom center;
    padding: 150px 0;
  }
  .program_details_area .program_detail_wrap {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .program_details_area .program_detail_wrap::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background: #c363bd;
    height: 88%;
    width: 2px;
    top: 0;
    bottom: 0;
  }
  
  @media (max-width: 767px) {
    .program_details_area .program_detail_wrap::before {
      left: 13px;
      transform: translateX(0);
      height: 89.5%;
    }
  }
  
  .program_details_area .program_detail_wrap .single_propram {
    display: block;
    position: relative;
    margin-bottom: 13px;
    width: 100%;
  }

  
  
  .program_details_area .program_detail_wrap .single_propram .inner_wrap {
    width: 40%;
  }
  
  @media (max-width: 767px) {
    .program_details_area .program_detail_wrap .single_propram .inner_wrap {
      width: 100%;
      padding-left: 35px;
      margin-top: 20px;
    }
  }
  
  .program_details_area .program_detail_wrap .single_propram .circle_img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #c363bd;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  @media (max-width: 767px) {
    .program_details_area .program_detail_wrap .single_propram .circle_img {
      transform: translateX(0);
      left: 0;
    }
  }
  
  .program_details_area .program_detail_wrap .single_propram:nth-child(2n+1) {
    float: right;
    width: 100%;
  }
  
  .program_details_area .program_detail_wrap .single_propram:nth-child(2n+1) .inner_wrap {
    float: right;
    float: right;
    text-align: left;
  }
  
  .program_details_area .program_detail_wrap .single_propram:nth-child(2n) {
    width: 100%;
    float: left;
    margin-top: -110px;
  }
  
  @media (max-width: 767px) {
    .program_details_area .program_detail_wrap .single_propram:nth-child(2n) {
      margin-top: 0;
    }
  }
  
  .program_details_area .program_detail_wrap .single_propram:nth-child(2n) .inner_wrap {
    text-align: right;
  }
  
  @media (max-width: 767px) {
    .program_details_area .program_detail_wrap .single_propram:nth-child(2n) .inner_wrap {
      text-align: left;
    }
  }
  
  .program_details_area .program_detail_wrap .single_propram:nth-child(2n)::before {
    left: auto;
    right: 48%;
    margin-left: -13px !important;
  }
  
  @media (max-width: 767px) {
    .program_details_area .program_detail_wrap .single_propram:nth-child(2n)::before {
      width: 100%;
    }
  }
  
  .program_details_area .program_detail_wrap .single_propram .porgram_top {
    margin-bottom: 41px;
  }
  
  .program_details_area .program_detail_wrap .single_propram .porgram_top span {
    color: #c363bd;
    font-size: 30px;
    font-family: "Anton", sans-serif;
    display: block;
    margin-bottom: 8px;
  }
  
  .program_details_area .program_detail_wrap .single_propram .porgram_top h4 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  
  .program_details_area .program_detail_wrap .single_propram .thumb {
    margin-bottom: 23px;
  }
  
  .program_details_area .program_detail_wrap .single_propram .thumb img {
    width: 100%;
  }
  
  .program_details_area .program_detail_wrap .single_propram h4 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }